In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [2]:
df = pd.read_csv('Dummy_data.csv')
df.head()

,customerid,tenure,monthlycharges,totalcharges,gender_Male,seniorcitizen_Yes,partner_Yes,dependents_Yes,phoneservice_Yes,multiplelines_Yes,...,internetservice_DSL,internetservice_Fiber optic,internetservice_No,contract_Month-to-month,contract_One year,contract_Two year,paymentmethod_Bank transfer (automatic),paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check
0,7590-VHVEG,1,29.85,29.85,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,1,0
1,5575-GNVDE,34,56.95,1889.50,1,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
2,3668-QPYBK,2,53.85,108.15,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,1
3,7795-CFOCW,45,42.30,1840.75,1,0,0,0,0,0,...,1,0,0,0,1,0,1,0,0,0
4,9237-HQITU,2,70.70,151.65,0,0,0,0,1,0,...,0,1,0,1,0,0,0,0,1,0

In [3]:
X = df.drop(['customerid','churn_Yes'], axis = 1)
y = df[['churn_Yes']]

In [4]:
y.shape

(7043, 1)

In [5]:
X.head()

,tenure,monthlycharges,totalcharges,gender_Male,seniorcitizen_Yes,partner_Yes,dependents_Yes,phoneservice_Yes,multiplelines_Yes,onlinesecurity_Yes,...,internetservice_DSL,internetservice_Fiber optic,internetservice_No,contract_Month-to-month,contract_One year,contract_Two year,paymentmethod_Bank transfer (automatic),paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check
0,1,29.85,29.85,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
1,34,56.95,1889.50,1,0,0,0,1,0,1,...,1,0,0,0,1,0,0,0,0,1
2,2,53.85,108.15,1,0,0,0,1,0,1,...,1,0,0,1,0,0,0,0,0,1
3,45,42.30,1840.75,1,0,0,0,0,0,1,...,1,0,0,0,1,0,1,0,0,0
4,2,70.70,151.65,0,0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,1,0

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=19)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   tenure                                   7043 non-null   int64
 1   monthlycharges                           7043 non-null   float64
 2   totalcharges                             7043 non-null   float64
 3   gender_Male                              7043 non-null   int64
 4   seniorcitizen_Yes                        7043 non-null   int64
 5   partner_Yes                              7043 non-null   int64
 6   dependents_Yes                           7043 non-null   int64
 7   phoneservice_Yes                         7043 non-null   int64
 8   multiplelines_Yes                        7043 non-null   int64
 9   onlinesecurity_Yes                       7043 non-null   int64
 10  onlinebackup_Yes                         7043 non-null   int64
 11  deviceprotection_Yes                     7043 non-null   int64
 12  techsupport_Yes                          7043 non-null   int64
 13  streamingtv_Yes                          7043 non-null   int64
 14  streamingmovies_Yes                      7043 non-null   int64
 15  paperlessbilling_Yes                     7043 non-null   int64
 16  internetservice_DSL                      7043 non-null   int64
 17  internetservice_Fiber optic              7043 non-null   int64
 18  internetservice_No                       7043 non-null   int64
 19  contract_Month-to-month                  7043 non-null   int64
 20  contract_One year                        7043 non-null   int64
 21  contract_Two year                        7043 non-null   int64
 22  paymentmethod_Bank transfer (automatic)  7043 non-null   int64
 23  paymentmethod_Credit card (automatic)    7043 non-null   int64
 24  paymentmethod_Electronic check           7043 non-null   int64
 25  paymentmethod_Mailed check               7043 non-null   int64
dtypes: float64(2), int64(24)
memory usage: 1.4 MB

In [8]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [10]:
regressor = LogisticRegression()
regressor.fit(X_train, y_train)
print(regressor.score(X_test, y_test))
print(regressor.score(X_train, y_train))

0.8130619971604354
0.8054766734279919

C:\Users\krist\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [14]:
from sklearn.metrics import confusion_matrix, classification_report

y_pred = regressor.predict(X_test)
confusion_matrix(y_pred=y_pred, y_true=y_test)

pd.crosstab(y_test, y_pred, rownames = ['Actual'], colnames =['Predicted'], margins = True)

ValueError: Data must be 1-dimensional

In [15]:
print(regressor.score(X_resampled, y_resampled))
print(regressor.score(X_test, y_test))
print(classification_report(y_test,y_pred))

NameError: name 'X_resampled' is not defined